<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="general.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <title>Bus Drive</title>
        
        <style>
            .navbar {
                background: linear-gradient(90deg, rgba(7,104,159,1) 0%, rgba(7,104,159,1) 47%, rgba(17,211,188,1) 100%);

            }
            .navbar-default .navbar-nav > li > a{
                color:white;
            }

            .navbar-default .navbar-nav > li > a:hover{
                color:#000;
            }
            .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
                background: rgb(17,152,208);
                background: linear-gradient(90deg, rgba(17,152,208,1) 0%, rgba(96,7,159,1) 100%);
                color: white;
            }
   
        </style>
    </h:head>

    <h:body>

       <b:navBar fluid="true">
            <b:navbarLinks pull="left">
                <a href="/ProyectoDesarrollow-1/faces/index.xhtml">
                    <b:image library="imagen" name="1.png" style="height:55px" />
                </a>
            </b:navbarLinks>
            
           <b:navbarLinks>
                <b:dropMenu value="Rutas" icon-awesome="fa-road">
                    <b:navLink value="San José" 
                               href="/ProyectoDesarrollow-1/faces/rutas/sanjoselist.xhtml"/>
                   <b:navLink value="Alajuela" 
                               href="/ProyectoDesarrollow-1/faces/rutas/alajuelalist.xhtml"/>
                   <b:navLink value="Cartago" 
                               href="/ProyectoDesarrollow-1/faces/rutas/cartagolist.xhtml"/>
                   <b:navLink value="Heredia" 
                               href="/ProyectoDesarrollow-1/faces/rutas/heredialist.xhtml"/>
                   <b:navLink value="Guanacaste" 
                               href="/ProyectoDesarrollow-1/faces/rutas/guanacastelist.xhtml"/>
                   <b:navLink value="Puntarenas" 
                               href="/ProyectoDesarrollow-1/faces/rutas/puntarenaslist.xhtml"/>
                   <b:navLink value="Limon" 
                               href="/ProyectoDesarrollow-1/faces/rutas/limonlist.xhtml"/>
                </b:dropMenu>
               
               <b:navLink value="Lounge" icon-awesome="fa-newspaper-o" href="/ProyectoDesarrollow-1/faces/reporte.xhtml"/>
                
               <b:navLink value="Aperitivos" icon-awesome="fa-cutlery" href="/ProyectoDesarrollow-1/faces/aperitivoslist.xhtml"/>

                <b:dropMenu value="Mi Cuenta" icon-awesome="fa-user">
                    <b:navLink value="Mis Reservas" icon="fa-newspaper-o"
                               href="/ProyectoDesarrollow-1/faces/reserva.xhtml"/>
                </b:dropMenu>
                
                <b:navLink value="Sobre Nosotros" icon-awesome="fa-bus " href="/ProyectoDesarrollow-1/faces/empresa.xhtml"/>
           
                <b:dropMenu value="Ayuda" icon-awesome="fa-question-circle">
                    <b:navLink value="Contactanos" icon="fa-newspaper-o"
                               href="/ProyectoDesarrollow-1/faces/contacto.xhtml"/>
                </b:dropMenu>
           </b:navbarLinks>
           
            <b:navbarLinks pull="right" style-class="hidden-xs">
                <b:dropMenu value="Opciones" icon-awesome="fa-bars">
                    <b:navLink value="Cerrar"
                               href="/ProyectoDesarrollow-1/faces/logIn.xhtml"
                               icon-awesome="fa-door-open"/>
                </b:dropMenu>
            </b:navbarLinks>     
        </b:navBar>
        
        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>
        
        <p align="center"> <font color="gray">Bus Drive Inc. Costa Rica. Todos los Derechos Reservados, 2021. </font></p>
        <h:outputScript library = "js" name = "wave.js"></h:outputScript>  
        <h:outputScript library = "js" name = "waveTrigger.js"></h:outputScript>
    </h:body>
</html>
